@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@for $i from 1 through 4 {
  @for $j from 1 through 9 {
    .menu-section:nth-child(#{$i}) {
      li.menu-btn:nth-of-type(#{$j}) {
        // Je ne sais pas pourquoi, .menu-section:nth-child(1) n'existe pas
        // Pour cela que je met $i - 2 et non pas $i - 1
        animation-delay: 200ms * $j + 600ms * ($i - 2);
      }
    }
  }
}
