/*Footer*/

footer {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  z-index: 2;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #353535;

  .footer-logo {
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
  }
  .logo-title {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
  ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
  }
  li {
    padding-bottom: 5px;
    i {
      width: 20px;
      padding-right: 5px;

      &.fa-utensils,
      &.fa-handshake-angle {
        font-size: 13px;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  /* Mettre en gras les deux premières lignes */
  li:nth-child(-n + 2) a {
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
  }
  .footer-logo {
    height: 27px;
    display: flex;
    justify-content: flex-end;
  }
  footer ul {
    padding: 15px;
    margin-right: 50px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  footer li {
    margin: 0 10px;
  }
  footer li:nth-child(2) {
    margin-right: 30px;
  }
}
