.like {
  font-size: 22px;
  cursor: pointer;
  position: relative;
  display: inline-block;

  .fa-heart {
    position: absolute;
  }
}

.like-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: opacity 0.5s ease-in-out;

  &:hover,
  .like-solid {
    opacity: 1;
  }
}
