nav {
    padding: 7px;
    display: flex;
    align-items: center;
  
    img {
      width: 15rem;
    }
  }
  
  .navhome-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  
  .navmenu {
    justify-content: center;
    img {
      padding-left: 0%;
    }
    .back {
      color: black;
      font-size: 2rem;
      left: 0;
    }
  }