
/*Search*/

.search {
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    font-size: 20px;

    .location {
        padding-right: 1%;
      }

      input {
        text-align: center;
        font-size: 1rem;
        border: none;
        background-color: #eaeaea;
       }
      }

      .title {
        padding-left: 20px;
        padding-top: 30px;
      }
      
      /*Header*/

      .container {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
      
        h2 {
            font-size: 24px;
            text-align: center;
            margin: 50px;
          }
        
          p {
            font-size: 17px;
            font-weight: 300;
            color: #353535;
            text-align: center;
            margin: 10px;
          }
        }

        .btn {
            text-decoration: none;
            background: linear-gradient($color-secondary, $color-primary);
            color: #fff;
            border-radius: 50px;
            border: none;
            padding: 20px;
            margin: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            
            &:hover {
              box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
              
            }
          } 

          /*Fonctionnement*/

          .fonctionnement {
            padding-bottom: 30px;
            background-color: #ffffff;
          }
          .slide {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style: none;

          
            .btn-slide {
              font-size: 16px;
              position: relative;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              background-color:#F6F6F6;
              padding: 25px;
              width: 95%;
              border-radius: 20px;
              border: none;
              box-shadow: rgba(149, 157, 165, 0.3) 8px 8px 24px;
              cursor: pointer;
              i {
                padding-right: 15px;
                color: #7E7E7E;
              }
              &:hover {
                i {
                  color: $color-primary;
                }
              }
            }
            .btn-slide::before {
              content: attr(value);
              width: 20px;
              height: 20px;
              background-color: $color-primary;
              color: #FFF;
              border-radius: 50%;
              position: absolute;
              left: -10px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        